<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749817366332-i7jupethciggje0tb8beh3o4r6ndvg96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749817366332-i7jupethciggje0tb8beh3o4r6ndvg96</string>
	<key>API_KEY</key>
	<string>AIzaSyC-61-PoQxITFrZ0sa4tXUo5XCP2kHfRkg</string>
	<key>GCM_SENDER_ID</key>
	<string>749817366332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lee.MyBakering</string>
	<key>PROJECT_ID</key>
	<string>mybakering</string>
	<key>STORAGE_BUCKET</key>
	<string>mybakering.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749817366332:ios:8503eb82c15854bb8f4039</string>
</dict>
</plist>